$CURRENT_DAY_COLOR: #2185d0;
$ROW_HOVER_BORDER_COLOR_FULL: rgba(255, 255, 255, 0.5);
$ROW_HOVER_BACKGROUND_COLOR_LIGHT: rgba(255, 255, 255, 0.033);
$ROUNDED_CORNER: 0.28em;

$DEFAULT_TRANSITION_MS: 60ms;

.ui.right.center.popup:before {
    background: rgb(42, 42, 42);
}

.ui.left.center.popup:before,
.ui.right.center.popup:before,
.ui.top.popup:before {
    background: rgb(42, 42, 42);
}

.ui.bottom.popup:before {
    background: rgb(42, 42, 42);
}

.ui.popup {
    background: rgb(42, 42, 42);
    min-width: 25em;
}

.task-calendar {
    .day-header-tray {
        border-bottom: 1px solid transparent;

        .complete-count-badge {
            font-size: 0.8em;
            margin: auto auto auto 0;
            border-radius: 0.28em;
            background-color: #767676;
            padding: 0.15em 0.55em;
        }
    }

    .weekday-header {
        flex: 1;
        text-align: center;
        padding: 0.2em;
        text-transform: uppercase;
        font-weight: 450;
        user-select: none;
        font-size: 0.75em;
    }

    .calendar-week {
        flex: 1;
        border-bottom: 1px solid lightgray;
    }

    .calendar-week:last-child {
        border-bottom: 1px solid transparent;
    }

    .activity-day {
        padding: 0.5em;
        border-right: 1px solid lightgray;
        width: calc(100vw / 7);

        &.day {
            width: 100%;
        }
    }

    // .activity-day:hover {
    //     background-color: rgba(0, 0, 0, 0.05);
    // }

    .activity-day:first-child {
        border-left: none;
    }

    .activity-day:last-child {
        border-right: none;
    }

    .numerical-date {
        padding: 0.25em;
        border-radius: 50%;
        margin: auto auto auto auto;
        height: 2em;
        width: 2em;
        font-size: 1em;
        text-align: center;
        vertical-align: middle;
        user-select: none;

        &.today {
            background-color: $CURRENT_DAY_COLOR;
        }
        &.day {
            margin-left: 0;
        }
    }

    .tag-item-header {
        position: sticky;
        top: 0;
        z-index: 1;
        cursor: pointer;
    }

    .tag-item-label {
        flex: 1;
        user-select: none;
        margin: -2px -2px -2px -2px;

        &.expanded {
            border-radius: 0.28em 0.28em 0 0;
        }
        &.complete {
            border-radius: 0.28em 0.28em 0 0;
        }
    }

    .task-item {
        border-bottom: 0.5px solid transparent;
        border-top: 0.5px solid transparent;
        padding: 0.5em;
        transition: $DEFAULT_TRANSITION_MS ease-in;
        margin-top: -0.5px;
        position: relative;
        cursor: pointer;

        &.day-mode {
            font-size: 1em;
        }
        &.complete {
            text-decoration: line-through;
        }
        &.open {
            border-color: $ROW_HOVER_BORDER_COLOR_FULL;
            background-color: $ROW_HOVER_BACKGROUND_COLOR_LIGHT;
        }
    }

    .task-item:active {
        cursor: grabbing;
    }

    .task-item:first-child {
        margin-top: calc(0.5em + 2px);
    }

    .task-item:hover {
        border-color: $ROW_HOVER_BORDER_COLOR_FULL;
        background-color: $ROW_HOVER_BACKGROUND_COLOR_LIGHT;
    }

    .task-day-container {
        overflow-y: auto;
        height: 100%;
        font-size: 0.9em;
        line-height: normal;

        &.day-mode {
            font-size: 1.15em;
        }
    }

    .expand-icon {
        transform: rotate(0);
        transition: transform $DEFAULT_TRANSITION_MS ease-in;

        &.open {
            transform: rotate(90deg);
        }
    }

    .task-content-outer {
        margin-bottom: 0.5em;
        border-radius: $ROUNDED_CORNER;
        background-color: rgba(0, 0, 0, 0.15);

        transition: background-color $DEFAULT_TRANSITION_MS ease-in;

        &.expanded {
            margin-bottom: calc(0.5em + 2px);
        }
    }
}

.procrastination-badge {
    padding: 0.33em 0.55em 0.33em 0.55em;
    margin: auto 0 0 auto;
    border-radius: 0.28em;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.15);

    &.active {
        background-color: rgb(219 40 40 / 25%);
        outline: 1px solid rgb(219, 40, 40);
    }
}

.recurring-day-selector {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.75em;
    user-select: none;
    border-radius: 0 0 0 0;
}

.recurring-day-selector:last-child {
    border-right: none;
}

.date-display-selection {
    background-color: rgb(42, 42, 42);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-style: normal;
    padding: 1em;
    border-radius: 0.28em;
}

.date-display-selection:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
